<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Authorization</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                    <input  class="form-control" type="text" placeholder="login" name="login" [(ngModel)]="command.login">
            </div>
            <div class="form-group">
                <input  class="form-control" type="password" placeholder="password" name="password" [(ngModel)]="command.password">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close()">Save</button>
    </div>
</ng-template>
<button class="btn btn-outline-success" (click)="open(content)">Send message</button>

