<div class="container">
    <br>

    <table class="table table-bordered table-dark table-sm">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Login</th>
            <th>Password</th>
            <th>University</th>
        </tr>
        <tr *ngFor="let student of students">
            <td>{{student?.id}}</td>
            <td>{{student?.name}}</td>
            <td>{{student?.login}}</td>
            <td>{{student?.password}}</td>
            <td>{{student?.university}}</td>
        </tr>
    </table>
</div>
