<div class="container">
    <br>
    <br>
    <form class="form-group">
        <div>
            <input type="text" placeholder="message" class="form-control"  [(ngModel)]="command.message" name="message">
            <br>
        </div>
      <!--   <form *ngIf="isOptions">
            <div class="form-group">
                <input type="text" placeholder="login" class="form-control" [(ngModel)]="command.login" name="login">
                <br>
                <input type="text" placeholder="password" class="form-control" [(ngModel)]="command.password" name="password">
                <br>
            </div>
        </form> -->
        <button class="btn btn-outline-success" (click)="sendMessage(command)">Send message</button>
    </form>
    <br>
    <br>
    <textarea *ngIf="imsMessage" readonly class="form-control rounded-0" id="exampleFormControlTextarea2" rows="25" [value]="imsMessage?.result"></textarea>

    <app-modal-window [command]="command"></app-modal-window>

</div>




