


<div class="container">
    <br>
    <br>
    <form class="form-group">
        <div>
            <input type="text" placeholder="message" class="form-control"  [(ngModel)]="command.message" name="message">
            <br>
        </div>
        <app-modal-window [command]="command" (authChange)="sendMessage($event)"></app-modal-window>
    </form>
    <br>
    <br>
    <textarea *ngIf="db2Message" readonly class="form-control rounded-0" id="exampleFormControlTextarea2" rows="20" [value]="db2Message?.result"></textarea>
</div>



