<div class="container">

    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Find</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="searchStr">
    </div>


    <h4>List of status codes:</h4>

    <div class="alert alert-success">
        <ul>
            <li *ngFor="let statusCode of statusCodes | search:searchStr | statusCodeFillPipe">
                <button  appChangeColor class="btn btn-sm" (click)="showCodeInfo(statusCode)">{{statusCode.code}} </button>
            </li>
        </ul>
    </div>


    <app-status-code *ngIf="isShowStatusCode" [statusCode]="childStatusCode" (dataChange)="onDataChange($event)"></app-status-code>


    <div *ngIf="isShowObjectType">
        <br>
        <h4>ObjectType:</h4>

        <table class="table table-bordered table-dark table-sm">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>description</th>
            </tr>
            <tr>
                <td>{{objectType?.id}}</td>
                <td>{{objectType?.name}}</td>
                <td>{{objectType?.description}}</td>
            </tr>
        </table>
    </div>


</div>
