
<br>
<h4>Status Code:</h4>

<table class="table table-bordered table-sm">
    <tr class="table-primary">
        <th>Id</th>
        <th>Code</th>
        <th (click)="click()">Description</th>
        <th>Create incidents</th>
        <th>Issue grouping</th>
    </tr>
  <tr class="table-warning">
        <td>{{statusCode.code}}</td>
        <td>{{statusCode.code}}</td>
        <td (click)="click()">{{statusCode.description}}</td>
        <td>{{statusCode.createIncidents}}</td>
        <td>{{statusCode.issueGrouping}}</td>
    </tr>
</table>



