


<table border="1" width="100%" cellpadding="5">
    <tr>
        <th bgcolor="#D3EDF6">Id</th>
        <th bgcolor="#D3EDF6">Code</th>
        <th bgcolor="#D3EDF6">Description</th>
        <th bgcolor="#D3EDF6">Create incidents</th>
        <th bgcolor="#D3EDF6">Issue grouping</th>
    </tr>
  <tr>
        <td>{{statusCode.code}}</td>
        <td>{{statusCode.code}}</td>
        <td>{{statusCode.description}}</td>
        <td>{{statusCode.createIncidents}}</td>
        <td>{{statusCode.issueGrouping}}</td>
    </tr>
</table>



